<!DOCTYPE html>
<html>
    <head>
        <title>Flask</title>
    </head>
    <body>
        <h1>Home page</h1>
        {% if username %}
            {% for i in range(10) %}
                <p>{{ i + 1 }}. Hello {{ username }}</p>
            {% endfor %}
        {% endif %}
    </body>
</html>
